// font
// $main-font:'AppleSDGothicNeoRegular';
// $sub-font: 'Inter', sans-serif;
// $Pretendard-Regular: "Pretendard-Regular";
// $Pretend-thin: 'Pretendard-thin';
// $Pretend-light: 'Pretendard-light';
// $Pretend-medium: 'Pretendard-Medium';
// $Pretend-semibold:'Pretendard-SemiBold';
// $Pretend-bold: 'Pretendard-Bold';
// $Pretend-extrabold:'Pretendard-Extrabold';




$blue-45: #4585FF;
$blue-80: #8057C9;
$blue-66: #665BEB;
$blue-7f:#7FDFE9;
$blue-EE:#EEF2FF;
$blue-F0:#F0FEFF;
// $blue-00:#009DAD;
$blue-3A:#3AC2CF;

// grey

$grey-fA:#FAFAFA;
$grey-f2:#F2F2F2;
$grey-f5:#F5F5F5;
$grey-f6:#f6f6f6;
$grey-70:#707070;
$grey-dd:#dddddd;
$grey-66:#666666;
$grey-99:#999999;
$grey-aa:#aaaaaa;
$colore5:#E5E5E5;
$colorff:#FFFFFF;
$grey68:#686868;
$greye8:#E8E8E8;
$grey69:#69707A;
$greyd4:#D4D6D9;
$grey90:#90959B;
$grey-b8:#b8c0cc;

// black

$black-00:#000000;
$black-11:#111111;
$black-30:#302F31;
$black-59: #595959;
$black-22: #222222;
$black-33: #333333;
$black-29:#293241;

// white

$white-ff:#ffffff;
$white-e6:#E6EEFF;
$white-bc:#BCC8E9;
$white-BD:#BDBDBD;

// red

$red-eb: #EB5757;
$red-ef: #EF4040;
$red-FD:#FD6D87;


// teacher module page variable added after this line

$teacher-font: 'SUIT';
$SUIT-variable:'SUIT Variable';

//blue
$blue-00: #0C60C2;
$blue-DA: #005DAC;
$blueE5:#E5EBFF;
$blue05:#051B44;
$blue3E:#3E27CC;
$blue47:#4740E3;
$blue34:#344054;
$blue7d:#7D60E3;
$blue0C:#0C60C2;
$blue00:#0079bf;
$blue-22:#222059;

// grey
$grey-66:#666666;
$grey-D4:#D4D6D9;
$grey-82:#828282;
$grey-E0:#E0E0E0;
$grey-CF:#CFCFCF;
$grey-A4:#A4A4A4;
$grey-33:#333333;
$grey-E5:#E5E9EB;
$grey-D0:#D0D5DD;
$grey-FAF:#FAFAFB;
$grey-84:#84919A;
$grey-ED:#EDE3FF;
$grey-de:#dee2e6;
$grey-8F:#8F8F8F;

// black
$black18:#181818;
$black4C:#4C4C4C;
$black19:#191D23;


// white
$white-ff:#ffffff;
$white-EF:#EFF2FD;
$white-FA:#FAFAFA;
$white-f1:#f1f1f1;
$white-88:#888;
$white-55:#555;
$white-cc:#ccc;
$white-F7:#F7F9FD;



// Orange
$orangeF6:#F6A74A;
$orangeFC:#FC8801;
$orangeFF:#FFF2E2;
$orange-fb:#FBC02D;