// font

$Suit-havvy: "SUIT-Heavy";
$Suit-Exlight: 'SUIT-ExtraLight';
$Suit-bold: 'SUIT-Bold';
$Suit-exbold: 'SUIT-ExtraBold';
$Suit-Smbold: 'SUIT-SemiBold';
$Suit-light: 'SUIT-Light';
$Suit-medium: 'SUIT-Medium';
$Suit-Regular: "SUIT-Regular";
$Suit-thin: 'SUIT-Thin';


// $main-font: 'SUIT';

$SUITVariable:'SUIT Variable';



$blue-00: #005DAC;
$blueE5:#E5EBFF;
$blue05:#051B44;
$blue3E:#3E27CC;


// grey


$grey-66:#666666;
$grey-D4:#D4D6D9;
$grey-82:#828282;
$grey-E0:#E0E0E0;
$grey-CF:#CFCFCF;
$grey-A4:#A4A4A4;
$grey-33:#333333;
$grey-D0:#D0D5DD;


// black

$black18:#181818;
$black4C:#4C4C4C;

// white

$white-ff:#ffffff;
$white-EF:#EFF2FD;
$white-FA:#FAFAFA;



// Orange

$orangeF6:#F6A74A;
$orangeFC:#FC8801;
$orangeFF:#FFF2E2;